
.DS_Store
data/raw
data/exp1
data/exp2
.Rproj.user
*.Rproj
scratch
.RData
.Rhistory
raw
stochastic_games-master
experiments/interactive
figures/cogsci_poster
figures/coglunch
figures/sloan_talk
figures/study4
figures/paper_temp
non_anonymized/